<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login-form">
    <h4>Enter your email and password</h4>
    <form method="post" action="dispatcher">
        <input type="hidden" name="command" value="login">
        <input type="email" placeholder="<fmt:message key="login.label.email"/>" name="email" size="30" required>
        <input type="password" placeholder="********" name="password" size="30" required minlength="8">
        <input type="submit" value="Sing in">
    </form>
    <form action="dispatcher" method="get">
        <button name="command" value="toRegistrPage">Registration</button>
    </form>
    <c:if test="${requestScope.errorMsg!=null}">
        <c:out value="${requestScope.errorMsg}"/>
    </c:if>
</div>
</body>
</html>